<footer>
<a href="https://www.facebook.com/">Facebook</a>|
<a href="https://twitter.com/">Twitter</a> |
<a href="https://instagram.com/">Instagram</a>

<h6>Made with &hearts; in my apartment</h6>

</footer>
