.body {

}

.container {
  background-color: whitesmoke;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}

.card {

}

h1 {

}

h5 {

}

a {

}

img {
  width: 100%;
  max-width: 100%;
}

h6 {

}
