<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ("../partials/head.ejs") %>
  </head>
  <body>
    <nav>
      <%- include ("../partials/nav.ejs") %>
    </nav>
    <div class="container">
      <h1>Sign Up</h1>
        <form action="/users" method="POST">
          <label for="name">User Name:</label>
          <input type="text" name="username" required/>
          <label for="password">Password:</label>
          <input type="password" name="password" />
          <br>
          <input type="submit" name="Submit">
        </form>
      </div>
      <nav class="home"><br>
        <a href="/products#top" alt="home">Back To The Home Page</a></nav>
        <br><br>
      <%- include ("../partials/footer.ejs") %>
  </body>
</html>
